@use "./partials/typography" as *;
@use "./partials/variables" as *;
@use "./partials/mixins" as *;

.navBar {
  @include flex(space-between, center, column);
  background-color: $primary-four;
  height: 17rem;
  &__logo {
    @include flex();
    text-decoration: none;
  }
  &__image {
    position: relative;
    border: 0.1rem solid $primary-one;
    z-index: 20;
    top: 1rem;
  }

  &__header {
    color: $primary-two;
    &__small {
      color: $primary-three;
    }
  }

  &__span {
    color: $primary-three;
  }

  &__link {
    text-decoration: none;
    margin: 1rem;
    color: $primary-three;
    font-family: "Raleway";
    font-size: 2.2rem;
    text-transform: uppercase;
    &:hover {
      border-bottom: 0.3rem solid $primary-two;
    }
  }

  &__link_login {
    text-decoration: none;
    margin: 1rem;
    font-family: "Raleway";
    color: $primary-two;
    font-size: 1.8rem;
    text-transform: uppercase;
    &:hover {
      border-bottom: 0.3rem solid $primary-three;
    }
  }
}
