@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.navBar {
  @include flex(space-between);
  &__logo {
    @include flex();
    text-decoration: none;
  }

  &__h {
    color: $primary-four;
    display: inline-block;
    font-family: "Delicious";
    position: relative;
  }

  &__linklist {
    @include flex();
    list-style-type: none;
  }
  &__link {
    text-decoration: none;
    margin: 1rem;
    color: $primary-four;
  }
}
