@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.nonFriendCard {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.image {
  border-radius: 50%;
  margin-right: 20px;
}

.nonFriendWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}
.nonFriendName {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.addImage {
  cursor: pointer;
}
